In [43]:
from geopy.geocoders import ArcGIS
import pandas as pd
nom = ArcGIS()

In [44]:
df = pd.read_csv("supermarkets.csv")

In [45]:
df["Address"] = df["Address"] + ", " + df["City"] + ", "  + df["State"] + ", " + df["Country"]
df["Coordinantes"] = df['Address'].apply(nom.geocode)
df["Latitude"] = df["Coordinantes"].apply(lambda x: x.latitude if x != None else None)
df["Longitude"] = df["Coordinantes"].apply(lambda x: x.longitude if x != None else None)
df = df.drop("Coordinantes", axis = 1)
df

,ID,Address,City,State,Country,Name,Employees,Latitude,Longitude
0,1,"3666 21st St, San Francisco, CA 94114, USA",San Francisco,CA 94114,USA,Madeira,8,37.756635,-122.429419
1,2,"735 Dolores St, San Francisco, CA 94119, USA",San Francisco,CA 94119,USA,Bready Shop,15,37.757831,-122.425374
2,3,"332 Hill St, San Francisco, California 94114, USA",San Francisco,California 94114,USA,Super River,25,37.755849,-122.428812
3,4,"3995 23rd St, San Francisco, CA 94114, USA",San Francisco,CA 94114,USA,Ben's Shop,10,37.752927,-122.431710
4,5,"1056 Sanchez St, San Francisco, California, USA",San Francisco,California,USA,Sanchez,12,37.752156,-122.429962
5,6,"551 Alvarado St, San Francisco, CA 94114, USA",San Francisco,CA 94114,USA,Richvalley,20,37.753592,-122.433253